.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px; /* Adjust padding as needed */
    background-color: #000;
    color: white;
}

.logo-container .logo {
    max-height: 50px; /* Adjust size as needed */
}

.navigation-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px; /* Adjust spacing as needed */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.login-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
}